<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vue Basices</title>
    </head>
    <body>
        <div id="app">
            {{ fullname() }}
            <a :href="url">{{ url }}</a>
            <div v-html="raw_data" r></div>
            <hr />
            <div>
                <input
                    type="text"
                    v-model="firstName"
                    placeholder="first name"
                />
                <input type="text" v-model="lastName" placeholder="last name" />
            </div>

            <div>{{ count }}</div>
            <button v-on:click="add">Increment</button>
            <button v-on:click="reduce">Increment</button>
        </div>
        <script src="vue.js"></script>
        <script src="app.js"></script>
    </body>
</html>
